/* Carousel Hero Banner - Tennis NSW */
.carousel-hero-banner .carousel-hero-banner-slides-container {
  position: relative;
}

.carousel-hero-banner .carousel-hero-banner-slides,
.carousel-hero-banner .carousel-hero-banner-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-hero-banner .carousel-hero-banner-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
}

.carousel-hero-banner .carousel-hero-banner-slides::-webkit-scrollbar {
  display: none;
}

.carousel-hero-banner .carousel-hero-banner-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  min-height: 300px;
}

@media (width >= 600px) {
  .carousel-hero-banner .carousel-hero-banner-slide {
    min-height: 400px;
  }
}

@media (width >= 900px) {
  .carousel-hero-banner .carousel-hero-banner-slide {
    min-height: 500px;
  }
}

.carousel-hero-banner .carousel-hero-banner-slide:has(.carousel-hero-banner-slide-content[data-align='center']) {
  align-items: center;
}

.carousel-hero-banner .carousel-hero-banner-slide:has(.carousel-hero-banner-slide-content[data-align='right']) {
  align-items: flex-end;
}

.carousel-hero-banner .carousel-hero-banner-slide .carousel-hero-banner-slide-image picture {
  position: absolute;
  inset: 0;
}

.carousel-hero-banner .carousel-hero-banner-slide .carousel-hero-banner-slide-image picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-hero-banner .carousel-hero-banner-slide .carousel-hero-banner-slide-content {
  z-index: 1;
  position: relative;
  width: 100%;
  padding: 24px 32px;
  color: var(--ta-white);
  background: linear-gradient(to top, rgb(0 0 0 / 70%), transparent);
}

.carousel-hero-banner .carousel-hero-banner-slide .carousel-hero-banner-slide-content p {
  margin: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel-hero-banner .carousel-hero-banner-slide .carousel-hero-banner-slide-content a {
  color: var(--ta-white);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.carousel-hero-banner .carousel-hero-banner-slide-indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 12px;
  padding: 12px;
  background-color: var(--ta-blue);
  line-height: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel-hero-banner .carousel-hero-banner-slide-indicator button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: rgb(255 255 255 / 40%);
  border: none;
  transition: background-color 0.2s;
}

.carousel-hero-banner .carousel-hero-banner-slide-indicator button:disabled,
.carousel-hero-banner .carousel-hero-banner-slide-indicator button:hover,
.carousel-hero-banner .carousel-hero-banner-slide-indicator button:focus-visible {
  background-color: var(--ta-white);
}

.carousel-hero-banner .carousel-hero-banner-navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel-hero-banner .carousel-hero-banner-navigation-buttons button {
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: rgb(0 0 0 / 30%);
  color: var(--ta-white);
  transition: background-color 0.2s;
}

.carousel-hero-banner .carousel-hero-banner-navigation-buttons button:hover,
.carousel-hero-banner .carousel-hero-banner-navigation-buttons button:focus-visible {
  background-color: rgb(0 0 0 / 60%);
}

.carousel-hero-banner .carousel-hero-banner-navigation-buttons button::after {
  display: block;
  content: '';
  border: 2px solid var(--ta-white);
  border-bottom: 0;
  border-left: 0;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel-hero-banner .carousel-hero-banner-navigation-buttons button.slide-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
  left: calc(50% - 2px);
}

@media (width >= 600px) {
  .carousel-hero-banner .carousel-hero-banner-navigation-buttons {
    left: 24px;
    right: 24px;
  }
}
